@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.backgroundOverlay {
    position: fixed; /* Agar overlay tetap di tempat saat halaman di-scroll */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/image/backgroundLoginPage.jpg) center no-repeat;
    background-size: cover;
}

.backgroundOverlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.600); /* warna hitam dengan transparansi */
    z-index: 1; /* pastikan overlay berada di atas gambar */
}

.wrapper {
    display: flex;
    width: 350px;
    background-color: rgba(0, 77, 92, 0.123);
    backdrop-filter: blur(10px); /* Menambahkan efek blur */
    padding: 30px 40px;
    border-radius: 30px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

.wrapper h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 10px;
    color: #fff;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    position: relative;
}

.input-box input {
    background-color: rgba(32, 32, 32, 0.365);
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    font-size: 15px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    transition: 0.2s ease-in-out;
}

.input-box input:hover {
    border: 1px solid rgb(255, 255, 255);
}

.input-box input::placeholder {
    color: #ffffff46;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    scale: 1.2;
    color: rgb(255, 255, 255);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 13.5px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin: -10px 0 10px;
}

.remember-forgot input {
    cursor: pointer;
    position: relative;
    top: 2px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.wrapper .btn:hover {
    background-color: #ffffffd9;
}

.wrapper .regist {
    font-family: "Montserrat", sans-serif;
    font-size: 12.5px;
    margin-top: 10px;
    color: #fff;
}

.regist p a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.regist p a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .wrapper {
        padding: 15px;
        max-width: 95%;
    }

    .wrapper h1 {
        font-size: 1.2rem;
    }

    .input-box input {
        font-size: 0.9rem;
        height: 40px;
    }

    .wrapper .btn {
        font-size: 0.9rem;
        padding: 10px;
    }

    .remember-forgot, .regist {
        font-size: 0.8rem;
    }
}